.registerPageWrapper {
  position: relative; 
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.imageNide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  background-color: #f0f0f0; 
}

.imageNide img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
